<tr>
  <td>{{name}}</td>
  <td>{{firstname}}</td>
  <td>{{birtdDay}}</td>

  <td>
  {{#if editable}}
  <input type="text" class="tasks-input-task" value="{{email1}}">
  {{else}}
  {{email1}}
  {{/if}}
</td>

  <td>
  {{#if editable}}
  <input type="text" class="tasks-input-task" value="{{badgeNo}}">
  {{else}}
  {{badgeNo}}
  {{/if}}
</td>

  <td>
  {{#if editable}}
   <button data-action="modify"></button>
  {{else}}
 <button data-action="edit">Modifier</button>
  {{/if}}
</td>
</tr>