<tr data-client-id="{{clientId}}" data-test-day-id="{{testDayId}}">
  <td class="table-border content"><b>{{name}}</b></td>
  <td class="table-border content"><b>{{firstname}}</b></td>
  <td class="table-border content"><b>{{birthDay}}</b></td>
  <td class="table-border content"><b>{{email1}}</b></td>

  <td class="table-border content">
    {{#if badgeNo}}
    <b>{{badgeNo}}</b>
    {{else}}
    <button type="button" class="button-add-badge">Ajouter</button>
    {{/if}}
  </td>
</tr>