<tr data-client-id="{{clientId}}" data-test-day-id="{{testDayId}}">
  <td>{{name}}</td>
  <td>{{firstname}}</td>
  <td>{{birthDay}}</td>
  <td>
    {{#if editable}}
    <input type="text" class="people-input-email" value="{{email1}}" placeholder="{{email1}}">
    {{else}}
    {{email1}}
    {{/if}}
  </td>

  <td>
    {{#if editable}}
    <input type="text" class="people-input-badge" value="{{badgeNo}}">
    {{else}}
    {{#if badgeNo}}
    {{badgeNo}}
    {{else}}
    <button type="button" class="button-add-badge">Ajouter</button>
    {{/if}}
    {{/if}}
  </td>
</tr>