<tr>
  <td>{{name}}</td>
  <td>{{firstname}}</td>
  <td>{{birthDay}}</td>
  <td>
  {{#if editable}} 
    <input type="text" class="people-input-email" value="{{email1}}" placeholder="{{email1}}">
 {{else}} 
   {{email1}}
    {{/if}}
  </td>

  <td>
  {{#if editable}}
    <input type="text" class="people-input-badge" value="{{badgeNo}}">
  {{else}}
    1234 <!--{{badgeNo}} when other table is jointed -->
  {{/if}}
</td>

  <td>
  {{#if editable}}
   <button data-action="modify">Enregistrer</button>
  {{else}}
 <button data-action="edit">Modifier</button>
  {{/if}}
</td>-->
</tr>