<div style="padding: 30px;">
  <div class="col card-bike">
    <div class="card h-100 border-0 mb-4">
      <a href="/Product/{{id}}">
        <img src="http://pingouin1.heig-vd.ch/artics/pictures/products/{{picture}}" class="card-img-top" alt={{shortDescr}}>
      </a>
      <div class="card-body catalogue-descr">
        <a href="/Product/{{id}}" class="catalogue-product-link">
          <h4 class="card-title">{{shortDescr}}</h4>
        </a>
      </div>
      <p class="card-text">
        {{category}}
        <button type="button" class="float-right bikeDel bike-trash">
          <img src="http://pingouin1.heig-vd.ch/artics/fonts/delete.svg " width="40px" height="40">
        </button>

      </p>

    </div>
  </div>
</div>
