  <tr>
    <th class="table-border content">{{id}}</th>
    <th class="table-border content">{{badgeNo}}</th>
    <th class="table-border content">{{distinctiveSign}}</th>
    <th class="table-border content">{{created_at}}</th>
    <th class="table-border content">{{endTime}}</th>
    {{!-- <th>{{endTime}}</th>  --}}
    {{!-- {{#if actual}}
            <th>{{startTime}}</th> <!--COUNTER TEMP -->
    {{else}}
            <th>{{startTime}}</th> <!-- TEMP DE DEPART-->
    {{/if}} --}}
    {{!-- {{#if actual}}
            <th> <button data-action="stop_test">Terminer test</button></th> <!-- STOP TEST TEST -->
    {{else}}
            <th> <button data-action="look_review">Voir l'avis du client</button></th>  <!--LOOK REVIEW -->
    {{/if}} --}}

  </tr>