<div class="col mb-4 catalogue-card">
  <div class="card h-100">
    <a href="/Product/{{id}}">
      <img src="http://127.0.0.1:8000/pictures/products/{{picture}}" class="card-img-top" alt={{shortDescr}}>
    </a>
    <div class="card-body">
      <a href="/Product/{{id}}">
        <h4 class="card-title">{{shortDescr}}</h4>
      </a>

      <p class="card-text">{{category}}</p>

      <button type="button" class="btn btn-primary float-right wishRemove" data-key="{{key}}">
           <img src="http://127.0.0.1:8000/fonts/wishlist.svg">
          </button>

    </div>
  </div>