<div class="col mb-4 catalogue-card">
  <div class="card card-bike">
    <a href="/Product/{{id}}">
      <img src="http://127.0.0.1:8000/pictures/products/{{picture}}" class="card-img-top" alt={{shortDescr}}>
    </a>
    <div class="card-body catalogue-descr">
      <a href="/Product/{{id}}">
        <h4 class="card-title">{{shortDescr}}</h4>
      </a>
      <div class="row">
        <div class="col-6">
          <p class="card-text">{{category}}</p>
        </div>
        <div class="col-6">
          <button type="button" class="button-remove-wish float-right wishRemove" data-key="{{key}}">
            <img src="http://127.0.0.1:8000/fonts/delete.svg">
          </button>
        </div>
      </div>

    </div>
  </div>