<div class="col mb-4">
  <div class="card h-100 border-0">
    <a href="/Product/{{id}}">
      <img src="http://127.0.0.1:8000/pictures/products/{{picture}}" class="card-img-top" alt={{shortDescr}}>
    </a>
    <div class="card-body catalogue-descr">
      <a href="/Product/{{id}}" class="catalogue-product-link">
        <h4 class="card-title">{{shortDescr}}</h4>
      </a>

      <p class="card-text">{{category}}</p>
        
{{!-- Toggle wishlist --}}
    {{#if inWishlist}}
 <button type="button" class="btn btn-primary float-right wishAdd">
           <img src="http://127.0.0.1:8000/fonts/wishlist_2.svg">
          </button>
    {{else}}
      <button type="button" class="btn btn-primary float-right wishDel" data-key="{{key}}">
           <img src="http://127.0.0.1:8000/fonts/wishlist.svg">
          </button>
    {{/if}}


{{!-- delete a bike for "rapresentant user" --}}
 <button type="button" class="btn btn-primary float-right bikeDel">
           <img src="http://127.0.0.1:8000/fonts/delete.svg">
          </button>

    </div>
  </div>