<!-- <article>
<div class="card border-light mb-3" style="max-width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{shortDescr}}</h5>
    <p class="card-text">{{longDescr}}</p>
    <a href="#" class="btn btn-primary">Ajouter a les favoris</a>
  </div>
</div>
</article>

<div class="row row-cols-1 row-cols-md-3">
    <div class="col mb-4">
        <div class="card border-light h-100">
            <img src={{picture}} class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{shortDescr}}</h5>
                <p class="card-text">{{longDescr}}</p>
                <a href="#" class="btn btn-primary">Ajouter a les favoris</a>
            </div>
        </div>
    </div>
</div>-->
    <img src={{picture}} class="card-img-top" alt={{shortDescr}}>
    <div class="card-body">
        <h5 class="card-title">{{shortDescr}}</h5>
        <p class="card-text">{{longDescr}}</p>
        <a href="#" class="btn btn-primary">Ajouter a les favoris</a>
    </div>

